.main__inner {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 100vh;
    color: var(--white);

    >div {
        font-size: 9vw;
        line-height: 0.9;
    }
}