// 변수 설정
:root {
    --white: #fff;
    --balck: #000;

    --bg-light: #f0eeeb;
    --bg-light-border: #dad8d1;
    --bg-dark: #000;
    --bg-dark-border: #2e2e30;

    --font-size: 16px;
    --font-height: 1.4;
    --font-color: #202020;
    --font-main: 'SaolDisplay-Regular';
    --font-sub1: 'PlayfairDisplay-Regular';
    --font-sub2: 'Rajdhani-Display';
    --font-kor: 'Jalnan';
    --font-kor2: 'Eulyoo1945';
}

// border-box 초기화
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

// 가로모드 글씨 확대 초기화
html {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

// 공백 초기화
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
select,
table,
td,
textarea,
th,
ul,
figure,
figcaption {
    margin: 0;
    padding: 0;
}

// 폰트 초기화
body,
button,
input,
textarea,
select,
table {
    font-size: var(--font-size);
    line-height: var(--font-height);
    color: var(--font-color);
    font-family: var(--font-main), -apple-system, BlinkMacSystemFont, 'Malgun Gothic', '맑은 고딕', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// 링크  초기화
a,
a:hover,
a:focus {
    color: var(--font-color);
    text-decoration: none;
}

// 버튼 초기화
button,
html input[type="button"],
html input[type="reset"],
html input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

// 버튼 디자인 초기화
input,
textarea,
button,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    font-size: var(--font-size);
}

// 스타일 초기화
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

ul {
    list-style: none;
}

em,
address {
    font-style: normal;
}

strong {
    font-weight: normal;
}

img {
    vertical-align: top;
    width: 100%;
}

// table
table {
    border: 0;
    border-collapse: collaspe;
    border-spacing: 0;
    width: 100%;
}