.cont__youtube {
  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      margin-bottom: 20px;
      width: 23%;
      margin-right: 2%;

      &:last-child {
        margin-right: 0;
      }

      img {
        border-radius: 5px;
      }
      em {
        display: block;
        margin-bottom: 30px;
        height: 80px;
        font-family: var(--font-kor);
        color: var(--white);
      }

      .title {
        display: inline-block;
        padding: 5px 0;
      }
    }
  }
}

.youtube__search {
  margin-top: 100px;
  margin-bottom: 100px;

  .container {
    position: relative;

    h2 {
      color: var(--white);
      font-size: 40px;
      text-indent: -9999px;
      height: 0;
    }

    input {
      background: var(--black);
      border: 2px solid var(--white);
      border-radius: 50px;
      color: var(--white);
      width: 100%;
      padding: 10px 30px;
      font-family: var(--font-kor2);
    }

    button {
      position: absolute;
      right: 3px;
      top: 3px;
      width: 100px;
      height: 40px;
      display: inline-block;
      border-radius: 20px;
      font-family: var(--font-kor2);
      cursor: pointer;
      z-index: 100;
      border: 0;
    }
  }
}

.cont__youtubeRandom {
  h2 {
    color: var(--white);
    margin-left: 20px;
  }

  .swiper {
    width: 100%;
    height: 500px;

    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
      bottom: -0px !important;
    }

    .swiper-pagination-bullet {
      background: var(--white);
    }

    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 22px;
      font-weight: bold;
      color: #fff;

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      em {
        display: block;
        height: 80px;
        font-family: var(--font-kor);
      }

      .title {
        font-size: 18px;
        display: inline-block;
        // padding: 5px 0;
      }
    }
  }

  a {
    color: var(--white);
  }
}

.cont__youtubeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h2 {
    color: var(--white);
    text-align: center;
    margin: 40px 0px 20px 0px;
  }

  .youtube__btn {
    display: flex;
    li {
      border: 1px solid #fff;
      padding: 5px 10px;
      margin: 10px 5px;
      color: var(--white);
      cursor: pointer;
      transition: all 300ms;

      &:hover {
        background-color: #f5f5f5;
        color: #333;
      }
    }
  }
}
